In [112]:
### cleanup / reformat elli block stimuli
import pandas as pd

In [113]:
df = pd.read_csv('logfile_with_baseline.csv')
df = df[df['Cat'] != 'baseline']

In [114]:
df['Run'] = df['Run'].apply(lambda x: 'odd' if x % 2 == 1 else 'even')
df['Cat'] = df['Cat'].str.split('_').str[0]

In [115]:
df = df[['Run','Cat','Subsem','Word1','Word2']]
df.columns = ['run', 'class', 'category', 'word1', 'word2']

In [116]:
articles = df['class'].apply(lambda x: 'the' if x == 'noun' else 'to')
df['pair'] = articles + ' ' + df['word1'] + ', ' + articles + ' ' + df['word2']
df = df.drop_duplicates()

In [117]:
df = df.reset_index(drop=True)
df['block'] = (df.index // 4)
df = df[['run', 'block', 'class', 'category', 'pair']]

In [118]:
df.head()

   run  block class category                  pair
0  odd      0  noun  manmade  the garage, the rink
1  odd      0  noun  manmade  the booth, the shack
2  odd      0  noun  manmade   the dam, the lounge
3  odd      0  noun  manmade    the moat, the shed
4  odd      1  noun  natural    the gulf, the reef

In [119]:
df.to_csv('elli_pairs.csv', index=False)

In [120]:
df = df.groupby(['run', 'block', 'class', 'category'], as_index=False).agg({'pair': ', '.join})
df = df.sort_values(by='block').reset_index(drop=True)

In [122]:
df.head()

,run,block,class,category,pair
0,odd,0,noun,manmade,"the garage, the rink, the booth, the shack, th..."
1,odd,1,noun,natural,"the gulf, the reef, the marsh, the brook, the ..."
2,odd,2,verb,mouth,"to slurp, to lick, to consume, to guzzle, to p..."
3,odd,3,noun,bird,"the hawk, the sparrow, the crane, the duck, th..."
4,odd,4,verb,hand,"to clutch, to fondle, to clobber, to whack, to..."

In [123]:
df.to_csv('elli_blocks.csv', index=False)